<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  >
<head th:fragment="headerFragment (pageTitle)">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Replace The pageTitle with current page Title -->
<title th:text="${pageTitle}"> ITS CORE Project </title>

<!-- Import Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"></link>
<!-- SJSU favicon -->
<link  type="image/ico" href="../static/img/icon/favicon.ico" th:href="@{/img/icon/favicon.ico}" rel="icon"></link>
<!-- Bootstrap core css -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    th:href="@{/css/bootstrap.min.css}"
    rel="stylesheet" />
<!-- Custom Style -->
<link type="text/css" href="../static/css/navbar-fixed-top.css" th:href="@{/css/customStyle.css}" rel="stylesheet" />
<!-- Bootstrap datepicker css -->
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}"></link>
<style th:inline="text">
    
    body{
    background: url([[@{/img/bg-pattern-sjsu-02.png}]]) top right no-repeat #e6e6e0;
    font-family: 'Open Sans', sans-serif;
    }
    
    #container {
    background: url([[@{/img/bg-left-sjsu-02.png}]]) no-repeat #fff;
	}
	

</style>
	<th:block th:if="${pageTitle == 'Main Menu'}">
<style th:inline="text">
    .jumbotron {
    background-image:  url([[@{/img/towerhall_towerlawn_print.jpg}]]);
	}
</style>
    </th:block>
<!-- IE workaround CSS -->
<link type="text/css" href="../static/css/ie10-viewport-bug-workaround.css" th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet" />
<!-- data table css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
<!-- Jquery core -->
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS core -->
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Dropdown menu JS -->
<script type="application/javascript" th:src="@{/js/dropdown-menu.js}"></script>
<!-- IE workaround JS -->
<script type="application/javascript" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

</head>
<body>
<nav th:fragment="header"
        class="navbar navbar-default navbar-fixed-top">
<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" th:href="@{/mainMenu}"><img alt="LeaveManagement" height="16" th:src="@{/img/SJSUmonogram_Web_Gold.png}" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/node/1}" ><span class="glyphicon glyphicon-object-align-bottom"></span> &nbsp; Hospital</a></li>
            <li><a th:href="@{/node/2}" ><span class="glyphicon glyphicon-grain"></span> &nbsp; Pharmacy</a></li>
            <li><a th:href="@{/node/3}" ><span class="glyphicon glyphicon-user"></span> &nbsp; Patient</a></li>
            <li><a th:href="@{/product}" ><span class="glyphicon glyphicon-user"></span> &nbsp; List of all Medicines</a></li>
            <li><a th:href="@{/transaction}" ><span class="glyphicon glyphicon-resize-small"></span> &nbsp; Show All Transactions</a></li>

          </ul>


        </div><!--/.nav-collapse -->
      </div>
</nav><!--/End Navbar-->
    <h1>Main content</h1>


<footer th:fragment="footer" class="container">
	<!-- datatable js -->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
</footer>
</body>
</html>