<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:include="mainLayout :: headerFragment(${title})"></head>
<body>
      <nav th:replace="layout :: header"></nav>
      <div id="wrapper" class= "containter">

		  <div class="jumbotron">
			<h2  style="color:white;" >Medication Tracker</h2>
			<p  style="color:white;"> Track medicine to ensure hospitals, pharmacies, and patients, comply with their prescriptions.</p>
		  </div>
		  
		    

<p>Add more fluff here.</p>


</div><!-- /.wrapper -->

</body>
</html>