<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:include="mainLayout :: headerFragment(${title})"></head>
<body>
      <nav th:replace="layout :: header"></nav>
      <div id="wrapper" class= "containter">
         <div class="page-header">
            <h2><span th:text="${title}"></span></h2>
         </div>
    <th:block th:unless = "${successMessage == null}">
		<div class="alert " th:classappend="${isDelete} ? alert-danger : alert-success">
		  <strong th:text = "${successMessage}">Success!</strong>
		</div>
    </th:block>
<div id="addTopMargin"></div>
<table class="table table-bordered table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Transaction ID</th>
			<th>Issuer</th>
			<th>Buyer</th>
			<th>Seller</th>
			<th>Date/Time</th>
			<th>Item</th>
			<th>Amount</th>
			<th>Receipt</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="transaction : ${transactions}">
   			<td><p th:text="${transaction.transactionId}"></p></td>
   			<td><p th:text="${transaction.issuer}"></p></td>
   			<td><p th:text="${transaction.buyer}"></p></td>
   			<td><p th:text="${transaction.seller}"></p></td>
   			<td><p th:text="${transaction.date}"></p></td>
   			<td><p th:text="${transaction.item}"></p></td>
   			<td><p th:text="${transaction.amount}"></p></td>
   			<td><a th:href="@{https://www.wikihow.com/images/thumb/a/a1/Write-a-Receipt-Step-9-Version-2.jpg/aid1218291-v4-728px-Write-a-Receipt-Step-9-Version-2.jpg}" >Receipt</a></td>
		</tr>

	</tbody>
</table>


</div><!-- /.wrapper -->

</body>
</html>